
/* ======= ======= ======= general ======= ======= ======= */
body, html {
    height: 100%;
    margin: 0;
    margin-top: -10px;
    padding: 0;
    border: none;
    box-sizing: border-box;
    /*background-color: #CCCCCC;*/
    background: url(img/grass.jpg);
    background-size: cover;
}
body {
    font-family: "Ariel", sans-serif;
}

/* ======= ======= =======  container  ======= ======= ======= */
#content {
    width: 80%;
    height: 70%;
    margin: 120px auto;
    border: solid 2px #038DFF;
    background-color: #CCCCCC;
    background: rgba(0,0,0,0.3)
}

/* ======= ======= ======= styles  ======= ======= ======= */
/* ======= ======= ======= styles  ======= ======= ======= */
/* ======= ======= ======= styles  ======= ======= ======= */
#para {
  position: absolute;
  margin: 20px 10px;
  top: 49%;
  left: 15%;
  text-align: center;
  padding: 20px;
  width: 500px;
  height: 60px;
  font-size: 20px;
  color: #FDFDFD;
  text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;}

#main_menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 19%;
  height: 80px;
  margin: 45px 5px 0px 1200px;
  text-align: center;
  background-color: black;
}
.menu_item {
  margin: 5px;
  width: 140px;
  height: 60px;
  padding: 5px;
  background-color: #038DFF;
}
#logo {
  position: absolute;
  height: 200px;
  width: 400px;;
  top: 0%;
  left: 10%;
}
#dog {
  position: absolute;
  top: 0%;
  left: 50%;
  border: 3px solid;
}
#video {
  position: absolute;
  top: 490px;
  left: 930px;
}
#welcome {
  position: absolute;
  top: 250px;
  left: 19%;
}

/* ======= ======= ======= footer  ======= ======= ======= */
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #CCCCCC;
  text-align: center;
}



/* ======= ======= ======= positioning  ======= ======= ======= */
/*#main-menu {

}
.menu-item {

}
.menu-item > p {

}
#mini-menu {

}
*/
